<% @products.each do |product| %>

    <%= link_to image_tag(product.image_url, height: "180"), product_path(product) %>

    <p><%= product.name %></p>
    <p><%= product.category %></p>
    <p><%= product.description %></p>
    <p><%= product.show_price %></p>

    <% if @authenticated %>
        <% if User.find_by(id:session[:user_id]).products.include?(product) %>


            <p><%= link_to "Update", edit_product_path(product) %> <%= link_to "Delete", product_path(product), method:'delete' %></p>

        <% end %>
    <% end %>

<% end %>
